* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    padding: 30px 85px;
}

.navbar {

    display: flex;
    justify-content: space-between;
}
.toggle{
    display: none;
    width: 10%;
}

.nav-links ul {
    display: flex;
    padding: 0px;
}
.shopping-side ul {
    display: flex;
    padding: 0px;
}

.navbar ul li {
    padding: 0px 20px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: gray;
}

.navbar ul li a img {
    width: 35px;
}

.line {
    padding: 20px 0;
}


.main {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.image-area {
    width: 40%;
    position: relative;
}

.image-area .parent-img {
    width: 100%;
    border-radius: 8px;
    position: absolute;
}

.image-area .sub-images {
    display: flex;
    justify-content: space-between;
    padding: 480px 0 0;
}

.image-area .sub-images img {
    width: 20%;
    border-radius: 8px;
}

.image-description {
    width: 50%;
    padding-right: 25px;
}

#img{
    display: block;
}

#img1 {
    display: none;
}

#img2 {
    display: none;
}

#img3 {
    display: none;
}

small {
    font-size: large;
    color: hsl(14, 100%, 55%);
    font-variant-caps: all-petite-caps;
    font-weight: 900;
}

h2 {
    font-size: xxx-large;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: gray;
}

.btn-add {
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 35px;
    align-items: center;
    border-radius: 4px;
    background-color: hsl(223, 64%, 98%);
}

.btn-add button {
    border: none;
    background: none;
    color: hsl(26, 100%, 55%);
    font-weight: 900;
}

.add-button {
    cursor: pointer;
    padding: 0 20px;
    border: none;
    background: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    height: 35px;
}

.add-button:hover {
    background: hsl(25, 100%, 94%);
    color: black;
}

.price-tag {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.price-tag span {
    background: hsl(25, 100%, 94%);
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
}

#my-cart {
    border: 1px solid;
    top: 70px;
    width: 25%;
    height: 150px;
    border-radius: 4px;
    padding: 10px 15px;
    display: none;
    position: absolute;
    right: 41px;
    z-index: 1;
    background: white;
}

.scroll-btn{
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    background: tomato;
}

.slider-btns{
    display: none;
    padding: 0 40px;
    position: absolute;
    top: 350px;
}

/* media sizes */

@media screen and (max-width: 425px) {
    .nav-links {
        display: none;
        background: hsl(0, 0%, 100%);
        position: absolute;
        width: 60%;
        top: 80px;
        z-index: 1;
        height: 100vh;
    }

    .toggle{
        display: block;
    }

    .navbar ul li {
        padding: 0px 10px;
    }
    .nav-links ul{
        display: block;
    }

    .navbar ul li a {
        color: hsl(0, 0%, 0%);
    }

    .main {
        padding: 20px 0;
        flex-direction: column;
    }

    .container {
        padding: 10px;
    }

    .image-area {
        width: 100%;
    }

    #my-cart {
        width: 90%;
        right: 15px;
    }

    .image-description {
        width: 100%;
    }

    h2 {
        font-size: x-large;
    }

    .image-area .sub-images img{
        display: none;
    }

    .slider-btns{
        display: block;
    }
}